/* line 1, ../sass/layout/_buttons.scss */
.button-wrapper {
  padding-top: 50px;
  text-align: center;
  margin-right: 30px;
}

/* line 7, ../sass/layout/_buttons.scss */
h2 {
  font-size: 25px;
  color: #B0B0B7;
  text-transform: uppercase;
}

/* line 13, ../sass/layout/_buttons.scss */
button {
  outline: none;
  padding: 15px 20px;
  border: none;
  font-size: 20px;
}

/* line 21, ../sass/layout/_buttons.scss */
.button-add {
  background-color: #FA8328;
  color: #757577;
  border-radius: 15px;
}

/* line 28, ../sass/layout/_buttons.scss */
.color-button-two {
  background-color: red;
}

/* line 32, ../sass/layout/_buttons.scss */
.color-button-three {
  background-color: green;
}

/* line 36, ../sass/layout/_buttons.scss */
.text-button-twelve, .text-button-fifteenth {
  display: none;
}

/* line 40, ../sass/layout/_buttons.scss */
#button-sixteenth {
  margin-right: 30px;
}

/* line 1, ../sass/layout/_common.scss */
.containar {
  width: 740px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* line 9, ../sass/layout/_common.scss */
.methods {
  padding-top: 70px;
}

/* line 1, ../sass/layout/_methods.scss */
.yellow {
  background-color: #ffff00;
}

/* line 6, ../sass/layout/_methods.scss */
.list-eq li {
  list-style: none;
}

/* line 12, ../sass/layout/_methods.scss */
.eq ol {
  -webkit-padding-start: 0;
}

/* line 17, ../sass/layout/_methods.scss */
.orange {
  color: #FA8328;
}

/* line 22, ../sass/layout/_methods.scss */
.html span {
  display: block;
  margin-bottom: 20px;
}

/* line 29, ../sass/layout/_methods.scss */
.index a {
  text-decoration: none;
  color: #6161CE;
  font-size: 20px;
}

/* line 36, ../sass/layout/_methods.scss */
.red {
  background-color: red;
}

/* line 40, ../sass/layout/_methods.scss */
.button-yellow {
  background-color: #ffff00;
}

/* line 44, ../sass/layout/_methods.scss */
.methods {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 49, ../sass/layout/_methods.scss */
.methods div {
  width: 400px;
  border: 1px solid #B0B0B7;
  text-align: center;
  padding: 25px;
}

/* line 1, ../sass/layout/_form.scss */
.form {
  margin-top: 100px;
  margin-bottom: 100px;
}
/* line 5, ../sass/layout/_form.scss */
.form label {
  display: block;
  margin-bottom: 20px;
  margin-top: 15px;
}
/* line 11, ../sass/layout/_form.scss */
.form input {
  margin-left: 10px;
  outline: none;
}
/* line 15, ../sass/layout/_form.scss */
.form .about {
  width: 260px;
}
/* line 19, ../sass/layout/_form.scss */
.form .inline {
  display: inline;
}
/* line 23, ../sass/layout/_form.scss */
.form select {
  margin-bottom: 20px;
}
/* line 27, ../sass/layout/_form.scss */
.form button {
  padding: 10px 20px;
  font-size: 15px;
  background-color: #FA8328;
  font-weight: bold;
  cursor: pointer;
}
/* line 35, ../sass/layout/_form.scss */
.form legend {
  color: #FA8328;
}

/* line 40, ../sass/layout/_form.scss */
.yellow-input {
  box-shadow: 0 0 10px rgba(245, 133, 12, 0.5);
}
