.button-wrapper{
  padding-top: 50px;
  text-align: center;
  margin-right: 30px;
}

h2 {
  font-size: 25px;
  color: $grey-color;
  text-transform: uppercase;
}

button {
  outline: none;
  padding: 15px 20px;
  border: none;
  font-size: 20px;
}


.button-add {
  background-color: $darkorange;
  color: $darkgrey;
  border-radius: 15px;
}


.color-button-two {
  background-color: red;
}

.color-button-three {
  background-color: green;
}

.text-button-twelve, .text-button-fifteenth {
  display: none;
}